.producto{
    border: 2px solid rgb(77, 156, 77);
    margin-top: 3px;
    padding: 15px;

}

.tab{
    border: 2px solid greenyellow;
    width: 300px;
    height: 300px;
    padding: 10px;

}

.tabContenido{
    width: 90%;
    height: 90%;
    background: lightblue;
    margin: auto;

}

.cuadrado{
    width: 200px;
    height: 200px;
    background: green;
}

.estaVencido{
    color: red;
}

.textoGrande{
    font-size: 20px;
}