<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Titulos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/pipes" routerLinkActive="active" >Pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/directivas" routerLinkActive="active">Directivas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ejemplo" routerLinkActive="active">Ejemplo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/articulo" routerLinkActive="active">Articulo</a>
    </li>    
  </ul>